* {
  box-sizing: border-box;
  font-family:"Roboto", serif;
}
html{
    font-size:18px;
    --duration: 300ms;
    scroll-behavior: smooth;
}
button, a {
    -webkit-user-select: none; 
    user-select: none;
}
body{
    margin:0;
    --main-font-family:"Roboto", serif;
    --second-main-color:rgb(233, 99, 17);
    --contacts-bg-color:#292929;
    --main-bg-color:#efefef;
    --global-500: #f0f0f1;
    --global-600: #a1a1a1;
    --global-700: #7d7d7d;
    --side-padding:4vw;
    --h2-font-size:28px;  
    --h2-font-weight:500;
    --font-base:16px;
    --headerHeight: 50px;
}
.highlighted{
    color:var(--second-main-color);
    font-weight:800;
}

.tippy-box[data-theme~='arka']{
    background-color: var(--contacts-bg-color);
    font-family:var(--main-font-family);
    font-size:calc(var(--font-base) - 2px);
    padding:5px;
    width:50vw
}

@media (min-width:450px){
    body{
        --h2-font-size:30px;
    }
}

@media (min-width:560px){
    body{
      --side-padding:5vw;
      --h2-font-size:32px;
      --font-base:18px
    }
}

@media (min-width:768px){
    body{
      --side-padding:7vw;
      --h2-font-size:30px;  
    }
}


@media (min-width:1024px){
    body{
      --h2-font-size:36px;  
      --font-base:19px;
      --headerHeight: 60px;
    }
    .tippy-box[data-theme~='arka']{
        background-color: var(--contacts-bg-color);
        font-family:var(--main-font-family);
        font-size:calc(var(--font-base) - 5px);
        padding:5px;
        width:50vw
    }
}

@media (min-width:1440px){
    html {
      font-size: 20px;
    }
    body{
      --h2-font-size:40px;  
      --font-base:23px;
      --headerHeight: 60px;
    }
  }
  
  @media (min-width:1600px){
    html {
      font-size: 26px;
    }
    body{
      --h2-font-size:50px;
      --font-base:24px;   
      --headerHeight: 70px;
    }
}

@media (min-width:1920px){
    html {
      font-size: 28px;
    }
    body{
        --side-padding:10vw;
        --h2-font-size:60px;  
        --font-base:29px;
        --headerHeight: 80px;
    }
}
@media (min-width:2560px){
    html {
      font-size: 32px;
    }
    body{
        --side-padding:10vw;
        --h2-font-size:60px;  
        --font-base:29px;
        --headerHeight: 90px;
    }
}
