html{
    font-size:14pt;
}
body{
    margin:0;
    --main-font-family:"Roboto", serif;
    --second-main-color:#E96311;
    --contacts-bg-color:#292929;
    --main-bg-color:#efefef;
    --side-padding:7%;
    --h2-font-size:28px;  
    --h2-font-weight:500;
    --font-base:16px;
}
.highlighted{
    color:var(--second-main-color);
    font-weight:800;
}

.tippy-box[data-theme~='arka']{
    background-color: var(--contacts-bg-color);
    font-family:var(--main-font-family);
    font-size:calc(var(--font-base) - 2px);
    padding:5px;
    width:50vw
}

@media (min-width:450px){
    body{
        --h2-font-size:30px;
    }
}

@media (min-width:560px){
    body{
      --side-padding:10%;
      --h2-font-size:32px;
      --font-base:18px
    }
}

@media (min-width:768px){
    body{
      --side-padding:10%;
      --h2-font-size:30px;  
    }
}

@media (min-width:930px){
    body{
      --side-padding:11%;
    }
}

@media (min-width:1024px){
    body{
      --side-padding:11%;
      --h2-font-size:36px;  
      --font-base:19px
    }
    .tippy-box[data-theme~='arka']{
        background-color: var(--contacts-bg-color);
        font-family:var(--main-font-family);
        font-size:calc(var(--font-base) - 5px);
        padding:5px;
        width:50vw
    }
}

@media (min-width:1440px){
    body{
      --h2-font-size:40px;  
      --font-base:23px
    }
}

@media (min-width:1600px){
    body{
        --side-padding:13%;
        --h2-font-size:50px;
        --font-base:24px  
    }
}

@media (min-width:1920px){
    body{
        --side-padding:15%;
        --h2-font-size:60px;  
        --font-base:29px
    }
}